<div class="row no-gutters justify-content-center align-content-center">
    <div class="col-md-8">
        <div class="card-body">
            <h3><a class="text-body">This First Heading</a>
                <a class="text-black-50"> Will Catch Your Eye</a>
            </h3>
            <p class="card-text">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id porta felis
                <br>euismod semper.
                Presetn
                commodo
                cursus magna, vel scelerisque nisl<br> consecteur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
    </div>
    <div class="col-md-1">
        <img src="assets/img/1.jpg"
            class="rounded-circle float-right" alt="Cinque Terre" width="350" height="350">

    </div>

</div>