    <div class="container-fluid m-4">
        <div class="row d-flex justify-content-center">
            <div class="col-9">
                <h1>Portfolio</h1>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-9">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque nesciunt quas asperiores temporibus
                    facere! Ut, eveniet deserunt corrupti magni vitae, voluptatibus alias tempore laborum porro dolore
                    sit. Molestiae, ab distinctio!</p> 
            </div>
        </div>
        <div class="row card-portfolio d-flex justify-content-center">
            <div class="col-3">
                <div class="card rounded-0 border-0" style="width: 23rem;">
                    <img src="/website1/assets/img/big-project-image.png" class="card-img-top rounded-0" alt="...">
                    <div class="card-body p-0 mt-4 p-0 mt-4">
                        <h5 class="card-title text-primary font-weight-bold">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card rounded-0 border-0" style="width: 23rem;">
                    <img src="/website1/assets/img/big-project-image.png" class="card-img-top rounded-0" alt="...">
                    <div class="card-body p-0 mt-4">
                        <h5 class="card-title text-primary font-weight-bold">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card rounded-0 border-0" style="width: 23rem;">
                    <img src="/website1/assets/img/big-project-image.png" class="card-img-top rounded-0" alt="...">
                    <div class="card-body p-0 mt-4">
                        <h5 class="card-title text-primary font-weight-bold">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
