<div class="container">
    <div class="d-flex justify-content-start">
        <div class="row">
            <div class="col-4">
                <img src="assets/img/2.jpg" class="rounded-circle" alt="Eniun">
            </div>
            <div class="col-8">
                <h1>
                    The Second Heading <span style="color:grey;">Is Pretty Cool Too.</span>
                </h1>
                <p>
                    Donec ullamcorper nulla non metus auctor fingilla. Vestibulum id ligula porta felis <br>
                    auismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. <br>
                    Fusce fapibus, tellus ac cursus commodo.
                </p>
            </div>
        </div>
    </div>
</div>